.login_header { position: relative; height: 64px; border-bottom: 1px solid #e8cbbd; box-shadow: 0 0 4px #aaa; z-index: 2; }
.login_header .logo { margin-top: 14px; }
.login_header .right { float: right; margin-top: 22px; line-height: 20px; }
.login_header .right div { float: left; color: #8d8d8d; }
.login_header .right .nologin { width: 140px; text-align: right; }
.login_header .right .islogin { display: none; width: 140px; text-align: right; }
.login_header .right .islogin .quit { margin: 0 10px; }
.login_header .right a { color: #8d8d8d; }
.login_header .right .register { color: #FFFFFF; }
.login_header .right .help { background: url(../img/login/bread_right.png) right no-repeat; padding-right: 10px; }

.swiper-container { position: relative; height: 566px; background: url(../img/login/login2.jpg) center; }
.swiper-container .content { position: relative; z-index: 9; top: -566px; }
.swiper-container #loginform, .swiper-container #registerbox { position: absolute; width: 310px; border: 1px solid #e4e6e8; border-radius: 3px; background: #ffffff; right: 80px; top: 40px; text-align: center; }
.swiper-container #loginform .error, .swiper-container #registerbox .error { border-color: red !important; }
.swiper-container #loginform .errormsg, .swiper-container #registerbox .errormsg { border: 1px solid #FF0000; width: 220px; height: 24px; margin: 0 auto; background: #FFF2F2 url(../img/login/ico-error.png) 4px center no-repeat; text-align: left; padding-left: 25px; line-height: 24px; color: #FF0000; position: absolute; top: 50px; left: 30px; display: none; }
.swiper-container #loginform h2 { font-size: 18px; color: #c67c59; margin: 25px auto 50px; }
.swiper-container #loginform .logintxt, .swiper-container #loginform .loginpwd { position: relative; overflow: hidden; margin: 20px 28px 10px; }
.swiper-container #loginform i { position: absolute; left: 12px; top: 12px; display: block; width: 16px; height: 16px; background: url(../img/login/ico-uinput.png) no-repeat; }
.swiper-container #loginform .icopwd { background-position: left -36px; }
.swiper-container #loginform #username, .swiper-container #loginform #pwd, .swiper-container #loginform #loginBtn, .swiper-container #loginform #registerBtn { height: 38px; border: 1px solid #e6e6e6; border-radius: 3px; }
.swiper-container #loginform #username, .swiper-container #loginform #pwd { padding-left: 39px; width: 207px; }
.swiper-container #loginform #remember { margin-left: 28px; color: #888888; }
.swiper-container #loginform label { float: left; color: #888888; }
.swiper-container #loginform .forget { float: right; margin-right: 28px; color: #888888; }
.swiper-container #loginform #loginBtn, .swiper-container #loginform #registerBtn { display: block; margin: 10px 28px 0; width: 246px; line-height: 38px; }
.swiper-container #loginform #loginBtn { border-color: #c57d5c; background: #FFFFFF; margin-top: 50px; color: #c57d5c; }
.swiper-container #loginform #registerBtn { border-color: #c57d5c; background: #c57d5c; color: #FFFFFF; }
.swiper-container #loginform h3 { color: #c57d5c; margin-top: 15px; }
.swiper-container #loginform .otherLogin { height: 26px; padding-top: 20px; margin-top: -6px; background: #f9f9f9 url(../img/login/otherLoginHr.png) no-repeat; }
.swiper-container #registerbox { display: none; }
.swiper-container #registerbox ul { overflow: hidden; width: 100%; margin-bottom: 35px; }
.swiper-container #registerbox ul li { height: 46px; line-height: 46px; color: #c67c59; }
.swiper-container #registerbox ul .phone { float: left; width: 155px; }
.swiper-container #registerbox ul .email { float: right; width: 154px; border-left: 1px solid #d2d5d7; }
.swiper-container #registerbox ul .noregister { background: #f5f5f5; border-bottom: 1px solid #d2d5d7; color: #626262; }
.swiper-container #registerbox form div { overflow: hidden; margin: 20px auto; width: 248px; height: 40px; position: relative; }
.swiper-container #registerbox form div #id, .swiper-container #registerbox form div #registerPwd, .swiper-container #registerbox form div #registerPwd, .swiper-container #registerbox form div #repeatPwd, .swiper-container #registerbox form div #checkradio, .swiper-container #registerbox form div #getcheck, .swiper-container #registerbox form div #checknum, .swiper-container #registerbox form div #refreshcheck { width: 208px; padding-left: 38px; height: 38px; border: 1px solid #e6e6e6; border-radius: 3px; }
.swiper-container #registerbox form div #checkradio, .swiper-container #registerbox form div #checknum { width: 90px; }
.swiper-container #registerbox form div #getcheck, .swiper-container #registerbox form div #refreshcheck { width: 104px; float: right; padding-left: 0; }
.swiper-container #registerbox form div label { position: absolute; left: 10px; top: 11px; background: url(../img/login/ico-uinput.png); width: 16px; height: 16px; }
.swiper-container #registerbox form a { display: inline-block; height: 38px; text-align: center; line-height: 38px; }
.swiper-container #registerbox form .acc { margin-bottom: 0; }
.swiper-container #registerbox form .acc a { line-height: 12px; color: #c57d5c; height: 12px; }
.swiper-container #registerbox form .acc label { background: none; width: 240px; position: static; }
.swiper-container #registerbox form #join { background: #c57d5c; width: 246px; color: #FFFFFF; border: 1px solid #c57d5c; border-radius: 3px; margin: 0 auto 12px; }
.swiper-container #registerbox .otherRegister { margin-bottom: 10px; }
.swiper-container #registerbox .otherRegister .toLogin { color: #999999; float: right; margin-right: 28px; }
.swiper-container .log { background: url(../img/login/ico-otherLogin.png); display: inline-block; width: 22px; height: 18px; margin: 0 10px; }
.swiper-container .log1:hover { background-position: left -27px; }
.swiper-container .log2 { background-position: -42px 0; }
.swiper-container .log2:hover { background-position: -42px -27px; }
.swiper-container .log3 { background-position: -87px 0; }
.swiper-container .log3:hover { background-position: -87px -27px; }
.swiper-container .log4 { background-position: right 0; }
.swiper-container .log4:hover { background-position: right -27px; }
